$blue : #20A0F8;
$green : #A8E8A0;
$red: #F87068;


.navbar {
    display: block;
    text-align: center;
    justify-content: space-around;
    line-height: 1.8rem;
}

@media screen and (min-width: 730px) {

}

@media screen and (min-width: 1200px) {
.navbar{
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
}
}